

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
}

.game__intro {
  width: 100vw;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
    &__new-grid-btn {
      width: 20%;
      height: 30%;
      
    }

    &__instructions {
      width: 50%;


         }
  

}


.game__main {
  width: 100vw;
  height: 60%;
  display: flex;

    &__list {
      width: 40%;
      height: auto;
      display: flex;
    }

    &__grid {
      width: 80%;
      height: 400px;
      display: grid;
      grid-template-columns: (10, 1fr);
    }


}


.game__end {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}