@import "_variables.scss";


main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
}

.game__intro {
  width: 95vw;
  //height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: $primary-font;
  margin: 10px 0;
  @include border();
  
       &__instructions {
         margin: 3px 10px;
         font-family: $second-font;
         text-align: justify;
      

         }
  

}


.game__main {
  width: 100vw;
  //height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__list {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;

      li {
        list-style-type: none;
        font-family: $second-font;
        font-size: 0.9em;
        padding-bottom: 5px;
      }

      &__btns {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        button {
          //width: 25%;
          
          font-family: $primary-font;
        }

    
  }
    
      
    }

    &__grid {
      width: 80%;
      //height: 60%;
      display: grid;
      grid-template-columns: (auto auto auto auto auto auto auto auto auto auto);
      justify-content: center;
      gap: 3px;
      font-size: 20px;
      @include border();
        }

        &__grid-square {
          text-align: center;
                  
        }


}


.game__end {
  width: 100vw;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}