main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__intro {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Share", cursive;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
}
.game__intro__instructions {
  margin: 3px 10px;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
}

.game__main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.game__main__list {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.game__main__list li {
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9em;
  padding-bottom: 5px;
}
.game__main__list__btns {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game__main__list__btns button {
  font-family: "Share", cursive;
}
.game__main__grid {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  justify-content: center;
  gap: 3px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
}
.game__main__grid-square {
  text-align: center;
}

.game__end {
  width: 100vw;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}