@import "_variables.scss";


nav {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  margin-top: 10px;

   
      h1 {
        width: 80%;
        padding-top: 5px;
        padding-bottom: 5px;
       
        text-align: center;
        background-color: white;
        @include border();
       
        
      }
  
}