@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
nav {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
nav h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #480ca8;
}