@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$primary-font: 'Poppins', sans-serif;
$second-font: 'Poppins', sans-serif;
$primary-color: #480ca8;


@mixin border() {
  border: 3px solid $primary-color; 
  //border-width: 2px;   
  border-radius: 5px;
  
  
}

