$primary-font: 'Share', cursive;
$second-font: 'Ubuntu', sans-serif;
$gradient: linear-gradient(90deg, hsla(183, 62%, 45%, 1) 0%, hsla(41, 96%, 58%, 1) 100%);

@mixin border() {
  border: 1px solid #95d5b2;
  
  border-width: 2px; 
  
  border-radius: 5px;
  
  
}

