$primary-font: 'Share', cursive;
$second-font: 'Ubuntu', sans-serif;
$gradient: linear-gradient(90deg, hsla(183, 62%, 45%, 1) 0%, hsla(41, 96%, 58%, 1) 100%);

@mixin border() {
  border-width: 5px;
  border-style: solid;
  border-image: $gradient 30% stretch;
  border-width: 2px; 
  box-shadow: 0px 0px 5px #2CB2BA;
  
}

