@import url("https://fonts.googleapis.com/css2?family=Share&family=Ubuntu&display=swap");
nav {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Share", cursive;
}
nav h1 {
  width: 80%;
  text-align: center;
  background-color: white;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(90deg, #2cb3ba 0%, #fbba2d 100%) 30% stretch;
  border-width: 2px;
  box-shadow: 0px 0px 5px #2CB2BA;
}

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__intro {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Share", cursive;
  margin: 10px 0;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(90deg, #2cb3ba 0%, #fbba2d 100%) 30% stretch;
  border-width: 2px;
  box-shadow: 0px 0px 5px #2CB2BA;
}
.game__intro__instructions {
  margin: 3px 10px;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
}

.game__main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.game__main__list {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.game__main__list li {
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  padding-bottom: 5px;
}
.game__main__list li:hover {
  color: #2CB2BA;
  text-decoration: underline overline;
  text-decoration-color: linear-gradient(90deg, #2cb3ba 0%, #fbba2d 100%);
}
.game__main__list__btns {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game__main__list__btns button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: white;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(90deg, #2cb3ba 0%, #fbba2d 100%) 30% stretch;
  border-width: 2px;
  box-shadow: 0px 0px 5px #2CB2BA;
  font-family: "Share", cursive;
  font-size: 1.5 em;
  font-weight: bold;
}
.game__main__list__btns button:hover {
  background: linear-gradient(90deg, #2cb3ba 0%, #fbba2d 100%);
  color: white;
}
.game__main__list__btns button:active {
  color: black;
  background: white;
  box-shadow: 0px 0px 5px gray inset;
}
.game__main__grid {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  justify-content: center;
  gap: 3px;
  font-size: 20px;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(90deg, #2cb3ba 0%, #fbba2d 100%) 30% stretch;
  border-width: 2px;
  box-shadow: 0px 0px 5px #2CB2BA;
}
.game__main__grid-square {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}