@import url("https://fonts.googleapis.com/css2?family=Share&family=Ubuntu&display=swap");
nav {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Share", cursive;
  margin-top: 10px;
}
nav h1 {
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: white;
  border: 1px solid #95d5b2;
  border-width: 2px;
  border-radius: 5px;
}

main {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game__intro {
  width: 95vw;
  display: flex;
  flex-direction: column;
  font-family: "Share", cursive;
  font-size: 0.8em;
  margin: 10px 0;
  border: 1px solid #95d5b2;
  border-width: 2px;
  border-radius: 5px;
  background-color: #95d5b2;
}
.game__intro h3 {
  margin-left: 10px;
}
.game__intro__instructions {
  margin: 3px 10px;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
}

.game__main {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  background-color: #95d5b2;
  border: 1px solid #95d5b2;
  border-width: 2px;
  border-radius: 5px;
}
.game__main__list {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.game__main__list__btns {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game__main__list__btns button {
  font-size: 1em;
  padding: 10px 5px;
  background-color: #52b788;
  border: 1px solid #95d5b2;
  border-width: 2px;
  border-radius: 5px;
  font-family: "Share", cursive;
  font-weight: bold;
}
.game__main__list__btns button:hover {
  background: #d8f3dc;
  color: #006d77;
}
.game__main__list__btns button:active {
  color: black;
  background: #006d77;
  box-shadow: 0px 0px 5px gray inset;
}
.game__main__list ul p {
  margin-left: 0;
  color: #006d77;
}
.game__main__list ul li {
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  padding-bottom: 5px;
}
.game__main__list ul li:hover {
  color: #d8f3dc;
  font-weight: bold;
}
.game__main__grid {
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  justify-content: center;
  gap: 3px;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #95d5b2;
  border-width: 2px;
  border-radius: 5px;
  font-family: "Share", cursive;
  color: white;
  text-decoration-line: grey;
}

.game__main__grid__grid-square {
  text-align: center;
}
.game__main__grid__grid-square:hover {
  color: #006d77;
}

@media screen and (min-width: 768px) {
  .game__intro {
    margin-top: 30px;
  }

  .game__main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .game__main__grid {
    width: 50%;
    font-size: 1.7em;
  }
  .game__main__list {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .game__main__list ul {
    height: 30%;
  }
  .game__main__list__btns {
    flex-direction: row;
  }
  .game__main__list button {
    margin: 20px;
  }
}
.wrong {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.right {
  animation: size 0.5s linear;
}

@keyframes size {
  from {
    font-size: 1.1em;
  }
  70% {
    font-size: 1.5em;
  }
  to {
    font-size: 1.1em;
  }
}
footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Share", cursive;
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8f3dc;
}