nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__intro {
  width: 100vw;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game__intro__instructions {
  width: 80%;
}

.game__main {
  width: 100vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.game__main__new-grid-btn {
  width: 20%;
}
.game__main__list {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.game__main__grid {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  justify-content: center;
  gap: 3px;
  font-size: 20px;
}
.game__main__grid-square {
  text-align: center;
}

.game__end {
  width: 100vw;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid grey;
}